* {
    -fx-font-family: Arial;
}

.button, .combo-box-base, .titled-pane, .check-box .box, .accordion > .titled-pane > .title, .tree-cell, .tree-view, .list-cell, .context-menu, .menu-button, .text-field{
    -fx-background-color: #404040;
    -fx-background-radius: 0 0 0 0;
    -fx-background-insets: 0;
    -fx-text-fill: #FFFFFF;
}

.scroll-bar: vertical .thumb {
    -fx-background-color: #505050;
    -fx-background-radius: 0 0 0 0;
    -fx-background-insets: 0;
}

.titled-pane > *.content {
    -fx-border-color: null;
}

.check-box:selected .mark, .titled-pane .arrow-button .arrow {
    -fx-background-color: #FFFFFF;
    -fx-effect: null;
}

.combo-box-popup .list-view {
    -fx-background-color: #404040;
}

.button:hover, .list-cell:hover, .tree-cell:hover, .combo-box-base:hover, .menu-button:hover{
    -fx-background-color: #505050;
}

.button:pressed, .list-cell:pressed, .tree-cell:pressed, .tree-cell:focused{
    -fx-background-color: #555555;
}

.menu-button .label, .color-picker-label, .text-field .text {
    -fx-text-fill: #FFFFFF;
}

.scroll-bar:vertical .track{
    -fx-background-color: #252525;
    -fx-border-color: #252525;
}

.scroll-bar: vertical *.increment-button,
.scroll-bar: vertical *.decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0 10 0 0;
}

.scroll-bar: vertical *.increment-arrow,
.scroll-bar: vertical *.decrement-arrow{
   -fx-shape : " ";
   -fx-padding :0 0.15em;
}

.progress-indicator{
    -fx-progress-color: #505050;
}

.text-field:focused {
    -fx-background-color: #555555;
    -fx-highlight-fill: null;
}

#background, .dialog-pane {
    -fx-background: #252525;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}